body{
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.4;
    color: #333333;
    background-color: #f0f0f0;
    overflow-x: hidden;
}

#top{
    padding: 10px;
    background: #555555;
}

#top.offer{
    text-transform: uppercase;
    color: #ffffff;
}

#top.offer.btn{
    text-transform: uppercase;
}

@media (max-width: 991px){
    #top.offer{
    margin-bottom: 10px;
    }
}

@media (max-width: 991px){
    #top{
        font-size:12px;
        text-align: center;
    }
}

#top a{
    color: #ffffff;
}

#top ul.menu{
    padding-top: 5px;
    margin: 0;
    text-align: right;
    font-size: 12px;
    list-style: none;
}

@media (max-width: 991px){
    #top ul.menu{
        text-align: center;
    }
}

#top ul.menu > li {
    display: inline-block;
}

#top ul.menu > li a {
    color: #eeeeee;
}

#top ul.menu > li+li ::before {
    content: "|\00a0";
    padding: 0 5px;
    color: #f7f7f7;
}

/* navbar */
.navbar{
    background: #ffffff;
}

.navbar-collapse .right{
    float: right;
}

.navbar-brand{
    float: left;
    padding:20px;
    font-size: 20px;

    height: 70px;
}

.navbar-brand:hover,
.navbar-brand:focus{
    text-decoration: none;
}

.navbar ul.nav > li > a {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px; 
}

.padding-nav{
    padding-top: 10px;
}

navbar ul.nav > li > a:hover{
    background:#e7e7e7;
}

.btn-primary{
    color: rgb(255, 255, 255);
    background-color: rgb(75, 191, 168);
    border-color: rgb(65, 179, 156);
}

#search .navbar-form{
    float: right;
}

#search{
    clear: both;
    border-top: solid 1px #9adacd;
    text-align: right;
}

#search .navbar-form .input-group{
    display: table;
}

#search .navbar-form .input-group .form-control{
    width: 100%
}

/* Slider */
#slider{
    margin-bottom: 40px;
}

/* Advantage Styles */

.box{
    background: #ffffff;
    margin: 0 0 30px;
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
    padding: 20px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

#advantages{
    text-align: center;
}

#advantages .box .icon{
    position: absolute;
    font-size: 120px;
    width: 100%;
    text-align: center;
    top: -20px;
    left: 0;
    height: 100%;
    float: left;
    color: #eeeeee;
    transition: all 0.2s ease-out;
    z-index: 1;
    box-sizing: border-box;
}

#advantages .box h3{
    position: relative;
    margin: 0 0 20px;
    font-weight: 300;
    text-transform: uppercase;
    z-index: 2;
}

#advantages .box h3 a:hover{
    text-decoration: none;
}

#advantages .box p{
    position: relative;
    color: #555555;
    z-index: 2;
}

/* Product Style */
#hot h2{
    text-transform: uppercase;
    font-size: 36px;
    color: #b3cce4;
    font-weight: lighter;
    text-align: center;
}

/* Content Product */
#content {
    padding-left: 25px;
}

.single {
    width: 290px;
}

@media (max-width:768px){
    .single{
        width: 60%;
        margin:0 auto;
    }
}

#content .product{
    background: #ffffff;
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
    margin-bottom: 30px;
}

#content .product .text p.price{
    font-size: 18px;
    text-align: center;
    font-weight: 300;
}

#content .product .text .buttons{
    clear: both;
    text-align: center;
}

#content .product .text h3{
    text-align: center;
    font-size: 20px;
}

#content .product .text h3 a{
    color: rgb(85, 85, 85);
}

#content .product .text{
    padding: 10px 10px 0px;
}

#content .product .text .buttons .btn{
    margin-bottom: 10px;
}

/* breadcrumb */
.breadcrumb{
    padding: 8px 15px;
    margin-bottom: 20px;
    background-color: #ffffff;
    border-radius: 0;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}

.breadcrumb > li + li:before{
    content: ">\00a0";
    color: #cccccc;
}

@media (max-width:991px){
    .breadcrumb{
        padding: 8px 0;
        text-align: center;
    }
}

/* content panel and sidebar menu */
#content .panel .sidebar-menu{
    box-sizing: border-box;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

#content .panel.sidebar-menu ul.nav.category-menu{
    margin-bottom: 20px;
}

#content .panel.sidebar-menu ul.nav.category-menu li a{
    text-transform: uppercase;
    font-weight: bold;
}

#content .panel .sidebar-menu h3{
    padding: 5px 0;
    margin: 0;
}

/* Shop product styles */
@media(max-width:768px){
    .center-responsive{
        width: 70%;
        margin: 0 auto;
    }
}

@media(max-width:550px){
    width: 95%;
    margin:0 auto;
}

/* Details Styles */
#content #productMain{
    margin-bottom: 40px;
}

#content #productMain .price{
    font-size:30px;
    font-weight: 300;
    text-align: center;
    margin-top: 40px;
}

#content #mainImage{
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7);
}

#content #thumbs a{
    display: block;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    border: solid 2px transparent;
}

#content .headline{
    height: 350px;
}

/* Cart page styles */

#content #cart .table tbody tr td img{
    width: 50px;
}

#content #cart .table tbody tr td input{
    width: 40px;
    text-align: right;
}

#content #cart .table tbody tr td{
    vertical-align: middle;
}

#content #cart .table tfoot{
    font-size: 18px;
}

.box .box-footer{
    background: #f7f7f7;
    margin: 30px -20px -20px;
    padding: 20px;
    border-top: 1px solid #eeeeee;
}

.box .box-footer::before,
.box .box-footer::after{
    content: " ";
    display: table;
}

.box .box-footer::after{
    clear: both;
}

.box .box-header{
    background: #f7f7f7;
    margin: -20px -20px 20px;
    padding: 20px;
    border-bottom: 1px solid #eeeeee;
}

#content #order-summary table{
    margin-top: 20px;
}

#content #order-summary table td{
    color: #999999;
}

#content #order-summary toble tr.totql­ö~¬MŠocoÿ~ínu3#ordo~-summary taïş¨|únuo÷ìl}h{
 anioo~u-s{{e:+ó~ø|»M ²*hooïş: ku}uuw5;O[s 89÷î|­ei÷j|~t7ıù;[}MNoorwowezkûN«nooöoz4j  su{ogrouow{#}q÷~í|»M ²*h|çwtyng~esspx 0;-*}_ß^«nïoueò*}lÿ
    padding-left: 0;
    list-style: none;
}

#footer ul a{
    color: #999999;
    padding: 20px 0;
}

#footer .social{
    text-align: left;
}

#footer .social a{
    margin: 0 10px 0 0;
    background: #333333;
    color: #ffffff;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    line-height: 30px;
    font-size: 15px;
    text-align: center;
    transition: all 0.2s ease-out;
    vertical-align: bottom; 
}